[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/plugins/start/vim-prettier"]
	path = vim/pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-solidity"]
	path = vim/pack/plugins/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/surround"]
	path = vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "zsh/oh-my-zsh/custom/plugins/yarn-autocompletions"]
	path = zsh/oh-my-zsh/custom/plugins/yarn-autocompletions
	url = https://github.com/g-plane/zsh-yarn-autocompletions
[submodule "zsh/oh-my-zsh/custom/plugins/zsh-z"]
	path = zsh/oh-my-zsh/custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "vim/pack/plugins/start/vim-easy-align"]
	path = vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/pack/plugins/start/vim-test"]
	path = vim/pack/plugins/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "vim/pack/plugins/start/ctrlp"]
	path = vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/plugins/start/vim-flutter"]
	path = vim/pack/plugins/start/vim-flutter
	url = https://github.com/thosakwe/vim-flutter
